<div class="container mt-4">
    <div class="row">
        <div class="col-3">
            <div *ngFor="let conn of allIds()">
                <button *ngIf="this.getMySocketId()!==conn" class="py-2 mt-2  mb-2 btn btn-danger">
                    {{allUsersMap[conn]}}
                </button>
        </div>
        </div>
        <div class="col-9">
            <!-- User Name Input Field -->
            <h2 class="text-center">
                {{username}} :[<small><i>{{this.getMySocketId()}}</i></small>]
                <input *ngIf="!isUserNameSet" type="text" [(ngModel)]="username" class="form-control d-inline-block"
                    placeholder="Enter your name" />
                <!-- Button to set username to localStorage -->
                <button *ngIf="!isUserNameSet" (click)="setUsername()" class="btn btn-primary mt-2">Set</button>
                <hr>
            </h2>
            <br>
            <div class="chat-box">
                <ul class="list-group">
                    <li *ngFor="let msg of messages" class="list-group-item">
                        <strong>{{ this.username==msg.username?"me":msg.username }}:</strong> {{ msg.message }}
                    </li>
                </ul>
            </div>

            <div class="input-group mt-3">
                <input type="text" [(ngModel)]="message" class="form-control" placeholder="Enter your message"
                    (keydown.enter)="sendMessage()" />
            </div>
        </div>
    </div>

</div>